.jumbotron{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(238, 247, 255));
}
h1.display-4{
    font-weight: 800;
}
.navbar-brand{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(83, 121, 247);
    font-weight: 900;
}
.containter{
    font-family: 'Montserrat', sans-serif;

}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}