@font-face {
    font-family: Font1;
    src: url(sansation_light.woff);
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(black, rgb(0, 174, 255));
    background-size: cover;
    background-repeat: no-repeat;
    
}


.hed1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    font-size: 4vw;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    padding-top: 10rem;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    font-size: 7vw;
    padding-top: 10rem;
    padding-left: 10rem;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    font-size: 5rem;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #f0f0f0;
}
.navbar-toggler{
    background-color: #157e59;;
}
.blur{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(224, 224, 224, 0.37);
    backdrop-filter: blur( 18.0px );
    -webkit-backdrop-filter: blur( 18.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.blur-card{
    color: white;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(224, 224, 224, 0.171);
    backdrop-filter: blur( 18.0px );
    -webkit-backdrop-filter: blur( 18.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card{
    transition-duration: 1s;

}

a{
    color: white;
}
a:hover{
    color: black;
}
.nav-link:hover{
    color: black;
    text-decoration: underline;
    text-decoration-color: #24eea8;
}


.gradient{
    /*background: rgb(255,255,255);
background: linear-gradient(72deg, rgba(255,255,255,1) 0%, rgba(178,249,224,1) 35%, rgba(223,255,249,1) 100%);*/
background-image: url(img/13.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}
footer{
    background-image: linear-gradient(white,rgb(206, 206, 206));
}




  
  ul {
    list-style: none;
  }
  li{
    font-size: 1rem;
  }
  .list-group-item{
    background-color: rgba(255, 255, 255, 0.712);
  }
  ul>li:hover {
    background-color: #ffffff;
  }
  
  .form-inline .form-control {
    background-color: rgb(65, 65, 65);
    width: 50%;
    border: 0;
    color: white;
  }
  
  .done {
    color: rgb(43, 105, 46);
    text-decoration: line-through;
  }
  
  .undone {
    color: #ff0000;
  }
  
  .icon {
    margin: 6px 10px 6px 0;
  }
  