@font-face {
    font-family: Font1;
    src: url(sansation_light.woff);
}

html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Poppins', sans-serif;
    
}
mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: #24eea8;
  }
.prvo {
    background-image: url(img/1v4.png);
    background-size: cover;
    background-position: center;
}
.badge{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    background-color: rgba(0, 119, 255, 0.151);
    color: rgb(0, 60, 255);
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #0E0E0E;
    font-size: 10vw;
    padding-top:10rem;
}

.navbar-toggler{
    border:1px solid rgb(102, 184, 204);
    color: white;
    background-image: linear-gradient(white,rgb(102, 204, 187));
   
    
}
.blur{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(224, 224, 224, 0.37);
    backdrop-filter: blur( 18.0px );
    -webkit-backdrop-filter: blur( 18.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.blur-card{
    color: white;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(224, 224, 224, 0.171);
    backdrop-filter: blur( 18.0px );
    -webkit-backdrop-filter: blur( 18.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card{
    transition-duration: 1s;

}
.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.26), 0 4px 8px rgba(0, 0, 0, 0.322);
 border: 1px solid white;
}  

a{
    color: black;
}
a:hover{
    color: black;
}
.nav-link:hover{
    color: black;
    text-decoration: underline;
    text-decoration-color: #24eea8;
}
.btn{
    opacity: 0.7;
}
.btn:hover{
    opacity: 1;
    transition: 0.3s;

}
.gradient{
    /*background: rgb(255,255,255);
background: linear-gradient(72deg, rgba(255,255,255,1) 0%, rgba(178,249,224,1) 35%, rgba(223,255,249,1) 100%);*/
background-image: url(img/13.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}
footer{
    background-image: linear-gradient(white,rgb(206, 206, 206));
}
h3{
    color: black;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    color: #000;
}

.navbar-toggler{
    margin-right: 0;
  }
/*@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 45px; /* adjust to height of navbar 
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 45%;
        width: 100%;
        height: 75%;
        border-radius: 0 0 25px 25px;
        background: black;
        color: white;
    }*/
    #typewriter {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
      }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
      }

    .navbar-collapse.collapsing {
        right: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        right: 0;
        transition: right 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: right 500ms ease-in-out;
       
    }
